body{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-image: url(body_back_img.jpeg);
    background-size: cover;
}
.cointainer{
    border: 0px solid rgb(196, 87, 47);
    width: 450px;
    height: 650px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgb(196, 87, 47);
}
.card
{
    width: 100%;
    height: 100%;
    background-image: url(back_det_img2.jpg);
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
   
}
.profile{
    width: 100%;
    height: 20%;
    background-image: url(back_pro_img.jpg);
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile>h1{
    color: rgb(162, 207, 242);
    font-family: "Playwrite HU", cursive;
}
.profile>h1:hover{
    color: rgb(58, 161, 239);
}

.details>img{
    border-radius: 30%;
    box-shadow: 3px 3px 5px black;
}
.details{
    width: 95.5%;
    height: 80%;
    
    display:flex;
    flex-direction: column;
    padding: 10px;
    align-items:center;
    color: aliceblue;
}
.details>p{
    text-align: center;
    font-family: "Playwrite BE WAL", cursive;
    line-height: 35px;
}
.details>p:hover{
    color: rgb(181, 219, 220);
    font-size: 18px;
}

.media_details{
    
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.media_value{
    height: 30px;
    width: 160px;
   
    justify-content: space-evenly;
    margin: 5px;
    padding: 2px;
}
#p1{    
    margin-top: -6px;
    text-align: center;
    font-size: 35px;
}
#p1:hover{
    font-size:40px ;
    color: rgb(240, 175, 247);
}
#p2{    
    margin-top: -6px;
    text-align: center;
    font-size: 35px;
}
#p2:hover{
    font-size:40px ;
    color: rgb(240, 175, 247);
}
#p3{    
    margin-top: -6px;
    text-align: center;
    font-size: 35px;
}
#p3:hover{
    font-size:40px ;
    color: rgb(240, 175, 247);
}
#p4
{
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    font-family: "Margarine", sans-serif;
}
#p4:hover{
    font-size:18px ;
    color: rgb(240, 175, 247);
}
#p5{
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    font-family: "Margarine", sans-serif;
}
#p5:hover{
    font-size:18px ;
    color: rgb(240, 175, 247);
}

#p6{
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    font-family: "Margarine", sans-serif;
}
#p6:hover{
    font-size:18px ;
    color: rgb(240, 175, 247);
}


.buttons{
    margin-top: 30px;
    height: 90px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
button{
    height: 50px;
    width: 180px;
    font-size: 17px;
    border-radius: 20px;
    background-image: url(back_det_img.jpg);
    color: rgb(243, 160, 160);
    font-family: "Kode Mono", monospace;
    
}

.details>img:hover{
    height: 140px;
    width: 160px;
    box-shadow: 3px 3px 10px rgb(225, 93, 93);
}
button:hover{
    height: 55px;
    width: 185px;
}


